<h1>Messages for <%= current_user.name -%></h1>

<% if @current_user.messages.count > 0 %>
<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.title %></td>
    <td><%= message.body %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<% else %>
<p><%= current_user.name %> has not sent any messages yet.</p>
<%end %>

<%= link_to 'New Message', new_message_path %>
<%= link_to 'Home', root_path %>
