<div id="mainmenu">
	<ul>
		<% if @user.id != session[:guest_user_id] -%>
		<li><%= @user.name %>
			<ul>
			<li><%= link_to 'Send Cards', new_catalog_note_path(@catalog) -%>
			<li><%= link_to 'Settings', edit_user_registration_path(@user) %>
			<li><%= link_to 'Cards Sent', catalog_notes_path(@catalog) %></li>
			<li><%= link_to 'Logout', destroy_user_session_path -%></li>
			</ul>
		</li>
		<% else %>
		<li><%= link_to 'Sign In', new_user_session_path %></li>
		<% end %>
		<li>Gallery</li>
		<li>Blog</li>
		<li>Contact Us</li>	
	</ul>
</div>
