<% if controller_name != 'sessions' && controller_name != 'registrations' %>
<div id="logo">
	<%= image_tag 'CarriemailBasketLogo-Small.jpg'%>
</div>
<% end %>
<div id="utility-nav">
	<ul class="hmenu">
		<% if user_signed_in? %>
		 <%= link_to 'Home', root_path %>
		 | <%= link_to 'Contacts', user_recipients_path(current_user) -%>
		<% end %>
		<% if controller_name != 'registrations' %>
		| <%= render 'devise/menu/registration_items' %> 
		<% end %>
		<% if controller_name != 'sessions' %>
		<%= render 'devise/menu/login_items' %>
		<% end %>
	</ul>
</div><!--#utility-nav-->