<div id="logo">
	<h1><%= link_to 'CarrieMail', root_path%></h1>
</div><!--#logo-->
<div id="utility-nav">
	<ul class="hmenu">
		<%= render 'devise/menu/registration_items' %> | 
		<%= render 'devise/menu/login_items' %> 
		<%= link_to('Home', root_path) unless current_user.nil? -%>
		<!-- I don't know why this isn't working -->
		<%= link_to('Notes', catalog_notes_path(current_user.catalog)) unless current_user.nil? %>
	</ul>
</div><!--#utility-nav-->