<div id="logo">
	<h1><%= link_to 'CarrieMail', root_path%></h1>
</div><!--#logo-->
<div id="utility-nav">
	<ul class="hmenu">
		<%= render 'devise/menu/registration_items' %> | 
		<%= render 'devise/menu/login_items' %>
		<% if user_signed_in? %>
		 | <%= link_to 'Home', root_path %>
		 | <%= link_to 'Notes', catalog_notes_path(current_user.catalog) %> 
		 | <%= link_to 'Contacts', user_recipients_path(current_user) -%>
		<% end %>
	</ul>
</div><!--#utility-nav-->