<div id="envelope-return">
	<ul id="printed-ret-addr">
		<%= @note.return_name %><br/>
		<%= @note.return_street %><br/>
		<%= @note.return_city_state_zip %><br/>
	</ul>
</div>
<div id="envelope-destination">
  <ul id="printed-dest-addr">
		<%= @note.dest_name %><br/>
		<%= @note.dest_street %><br/>
		<%= @note.dest_city_state_zip %><br/>
	</ul>
</div><!-- #printed-dest-addr -->
