<%= form_for([@catalog, @note]) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Subject:" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :recipient_id, "To:" %><br />
	<%= f.select :recipient_id, current_user.recipients.find(:all).collect {|r| [r.name, r.id]} -%>
	<%= link_to "New Contact", new_user_recipient_path(@current_user)-%>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
