<%= form_for([@catalog, @note]) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> kept this note from being created:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="content">
<div class="form">
	<div id="note-content">
		<%= f.text_area :body, :id => 'styled-textarea',
						:placeholder => "Dear John,..."%>
	</div>
	<div id="destination-address">
		<fieldset>
			<legend>Destination Address</legend>
		<div class="field">
			<%= f.text_field :dest_name, :placeholder => "Destination" -%>
		</div>
		<div class="field">
			<%= f.text_field :dest_street, :placeholder => "Address" -%>
		</div>
		<div class="field">
			<%= f.text_field :dest_addr_line2, :placeholder => 'Office #, Apartment #, etc.', :size => 60 %>
		</div>
    	<div class="field">
	    	<%= f.text_field :dest_city, :placeholder => 'City'%>
			<%= f.select :dest_state, Carmen::state_codes('US') %>
	    	<%= f.text_field :dest_zip, :placeholder => 'Zip', :size => 15 %>
	  	</div>
	    </fieldset>
	</div>
	
	<div id="return-address">
		<fieldset>
		<legend>Return Address</legend>
		<div class="field">
			<%= f.text_field :return_name, :placeholder => @user.name -%>
		</div>
		<div class="field">
			<%= f.text_field :return_street, :placeholder => @user.street -%>
		</div>
		<div class="field">
			<%= f.text_field :return_addr_line2, :placeholder => 'Office #, Apartment #, etc.', :size => 60 %>
		</div>
    	<div class="field">
	    	<%= f.text_field :return_city, :placeholder => @user.city %>
			<%= f.select :return_state, Carmen::state_codes('US') %>
	    	<%= f.text_field :return_zip, :placeholder => @user.zip, :size => 15 %>
	  	</div>
		</fieldset>
	</div>
	
	<div id="check-button">
		<%= f.submit "Preview" -%>
	</div>
	
<% end %>
</div>
</div>

