<%= form_for([@catalog, @note]) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Subject: <%= f.text_field :title, :placeholder => "Subject of the letter"%><br/>
	To: <%= f.select :recipient_id, @recipients, :selected => params[:recipient_id] -%>
	<%= link_to "Create a New Contact", new_user_recipient_path(@current_user)-%>
  </div>
  <div class="field">
	<%= f.select :greeting, greetings -%><%= f.select :greeting_name, greeting_names(@recipients[params[:recipient_id]]) %>
  </div>
  <div class="field">
	<p><em></em></p>
    <%= f.text_area :body, :placeholder => "Type in the text of your message here.  We'll print it on a 3x5 card and sent it off for you!"%>
  </div>
  <div class="field">
	<%= f.select :closing, closings -%>
  </div>
  <div class="field">
	<%= f.select :signature, signatures -%>
  </div>
  <div class="actions">
    <%= f.submit "Preview" %>
  </div>
<% end %>
