<div class="l letter">
<div class="salutation">
  <%= @note.greeting -%> <%= "#{@note.greeting_name}," unless @note.greeting_name.blank? %>
</div>
<br/>
<div class="mail">
  <%= @note.body %>
</div>
<br/>
<div class="signature">
  <p><%= @note.closing %></p>
  <p><%= @note.signature %></p>
</div>
<br/>
</div>
<div class="clr"></div>