<h1>Notes created by <%= current_user.name %></h1>

<% if @catalog.notes.count > 0 %>
<table>
  <tr>
    <th>Catalog</th>
    <th>Title</th>
    <th>Body</th>
    <th>Recipient</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notes.each do |note| %>
  <tr>
    <td><%= note.catalog_id %></td>
    <td><%= note.title %></td>
    <td><%= note.body %></td>
    <td><%= note.recipient_id %></td>
    <td><%= link_to 'Show', [@catalog, note] %></td>
    <td><%= link_to 'Edit', edit_catalog_note_path(@catalog, note) %></td>
    <td><%= link_to 'Destroy', [@catalog, note], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<% else %>
<p><%= current_user.name -%> Needs to create a note first!</p>
<% end %>

<%= link_to 'New Note', new_catalog_note_path(@catalog) %>
<%= link_to 'Back', @catalog %>
