<div class="mail"><p>Edit, Create, and Delete notes to your contacts directly.</p></div>
<% unless @catalog.notes.empty? %>

<table>
  <tr>
    <th>Created</th>
    <th>Description</th>
    <th>Sent To</th>
    <th>Status</th>
    <th></th>
	<th></th>
	<th></th>
  </tr>

<% @notes.each do |note| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= note.created_at.strftime("%m/%d/%y") %></td>
    <td><%= note.title %></td>
    <td><%= note.dest_name %></td>
    <td><%= note.status_description %></td>
    <% if note.status == 0 %>
    <td><%= link_to 'Preview', [@catalog, note] %></td>
    <% else %>
 	<td><%= link_to 'Document', note.pdfdoc.url -%></td>
    <% end %>
    <td><%= link_to 'Edit', edit_catalog_note_path(@catalog, note) %></td>
    <td><%= link_to 'Delete', [@catalog, note], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<% end %>

<% unless current_user.recipients.empty? %>
<%= link_to 'Send A New Note', new_catalog_note_path(@catalog) %>
<% else %>
<p>  <%= link_to 'Add a contact to your address book', new_user_recipient_path(current_user) -%> to get started.</p>
<% end %>