<h2>Note:  <%= @note.title %> </h2><br/>

<%= render 'letter' -%>

<%= link_to 'Generate PDF', generate_pdf_catalog_note_path(@catalog, @note) %>
<%= link_to 'Edit', edit_catalog_note_path(@catalog, @note) %> |
<%= link_to 'All Notes', catalog_notes_path(@catalog) %>
