<div id="main">
  <div id="note-wizard">
    <div id="note-content">
      <div id="letter">
        <%= render 'letter' -%>
      </div><!-- #letter -->
    </div><!-- #note-content -->
    

    <div id="envelope-content">
      <div id="carrie-stamp"></div>
      
      <div id='envelope'>
        <%= render 'envelope' -%>
      </div>
    </div><!-- #envelope-content -->


    <div id='send-button'>
        <%= link_to 'Edit', edit_catalog_note_path(@catalog, @note) %>
		<% if session[:guest_user_id].nil? %>
			<%= link_to 'Send', generate_pdf_catalog_note_path(@catalog, @note) %>
			<%= link_to 'Checkout' %>
		<% else %>
			<%= link_to 'Sign In', new_user_session_path %>
		<% end %>
    </div>

    
		
  </div><!-- #note-wizard -->
</div><!-- #main -->
