<p id="notice"><%= notice %></p>

<p>
  <b>Catalog:</b>
  <%= @note.catalog_id %>
</p>

<p>
  <b>Title:</b>
  <%= @note.title %>
</p>

<p>
  <b>Body:</b>
  <%= @note.body %>
</p>

<p>
  <b>Recipient:</b>
  <%= @note.recipient_id %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
