<h1>Address Book</h1>

<% if @user.recipients.count > 0 %>
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Email</th>
	<th>Notes</th>
	<th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recipients.each do |recipient| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= recipient.name %></td>
    <td><%= recipient.full_address %></td>
    <td><%= recipient.email %></td>
	<td align="center"><%= link_to recipient.notes.count, catalog_notes_path(@user.catalog, :recipient_id => recipient.id) -%></td>
	<td><%= link_to 'Send Note', new_catalog_note_path(@user.catalog, :recipient_id => recipient.id)%>
    <td><%= link_to 'Show', [@user, recipient] %></td>
    <td><%= link_to 'Edit', edit_user_recipient_path(@user, recipient) %></td>
    <td><%= link_to 'Delete', [@user, recipient], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<% else %>
<p>Click 'New Contact' below to begin adding names</p>
<% end %>

<%= link_to 'New Contact', new_user_recipient_path(@user) %>