<% if @user.recipients.count > 0 %>
<div class="mail">
<p>Choose any of the below contacts to send a note to, or add a contact below.  Remember, handwriting is special.</p>
</div>
	
<% @recipients.each do |recipient| -%>
<div class="l contact_box">
	<div class="r">
	<div class="l small-icon">
		<%= link_to image_tag("email.png"), new_catalog_note_path(@catalog, :recipient_id => recipient.id) -%>
	</div>
	<div class="l small-icon">
		<%= link_to image_tag("page_white_edit.png"), edit_user_recipient_path(@user, recipient) -%>
	</div>
	<div class="l small-icon">
		<%= link_to image_tag("dialog-close.png"), [@user, recipient], :confirm => 'Are you sure?', :method=> :delete -%> 
	</div>
	</div>
	<div class="l photo">
		<%= image_tag recipient.photo.url(:thumb) -%>
	</div>
	<ul class="l contact">
		<li class="name"><%= link_to recipient.name, [@user, recipient] %></li>
		<li><%= "#{recipient.street}, #{recipient.addr_line2}" %></li>
		<li><%= "#{recipient.city}, #{recipient.state} #{recipient.zip}" %></li>
	</ul>
</div>
<% end %>
<% else %>
<div class="mail clr">Click 'New Contact' below to begin sending your friendly notes.</div>
<% end %>

<div class="clr">
<%= link_to 'New Contact', new_user_recipient_path(@user) %>
</div>