<% content_for :home do %>
  <%= javascript_include_tag "contentflow.js" %>
<% end %>
<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag "contentflow.css" %>
<% end %>


<script>
	var myNewFlow = new ContentFlow('CoverFlow', { 
		flowSpeedFactor: 0.1, 
		circularFlow: false,
		scrollWheelSpeed: 1.0,
		37: function () { this.moveTo('pre') },         // left arrow
        38: function () { this.moveTo('visibleNext') }, // up arrow
        39: function () { this.moveTo('next') },        // right arrow
		40: function () { this.moveTo('visiblePre') }   // down arrow
	});
</script>
<div class="clr"></div>

<div id="CoverFlow" class="ContentFlow">
	<div id ="imgFlow" class="flow">
		<%= image_tag("homer.jpeg", :class => 'item') %>
		<%= image_tag("bart.jpeg", :class => 'item') %>
		<%= image_tag("lisa.jpeg", :class => 'item') %>
	</div>
</div><!--#CoverFlow-->

<%= render 'layouts/testimonials' %>
<%= render 'layouts/promo-signup' %>
