<% content_for :head do %>
  <%= javascript_include_tag "contentflow.js" %>
<% end %>
<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag "contentflow.css" %>
<% end %>


<script>
	var myNewFlow = new ContentFlow('CoverFlow', { 
		flowSpeedFactor: 0.1, 
		circularFlow: false,
		scrollWheelSpeed: 1.0,
		37: function () { this.moveTo('pre') },         // left arrow
        38: function () { this.moveTo('visibleNext') }, // up arrow
        39: function () { this.moveTo('next') },        // right arrow
		40: function () { this.moveTo('visiblePre') }   // down arrow
	});
</script>

<div id="CoverFlow" class="ContentFlow">
	<div id ="imgFlow" class="flow">
		<%= image_tag("homer.jpeg", :class => 'item') %>
		<%= image_tag("bart.jpeg", :class => 'item') %>
		<%= image_tag("lisa.jpeg", :class => 'item') %>
	</div>
</div><!--#CoverFlow-->

<h1>Welcome to CarrieMail</h1>
<h2>Messages Sent</h2>
<table>
	<% @messages.each do |message| %>
		<tr class="<%= cycle('list_line_odd', 'list_line_even')%>">
			<td>
				<dl>
				<dt><%= message.title -%></dt>
				<dt><%= message.body -%></dt>
				</dl>
			</td>
			<td class="list_actions">
				<%= link_to 'Show', message %><br/>
				<%= link_to 'Edit', edit_message_path(message) %><br/>
				<%= link_to 'Delete', message, :confirm => 'Are you sure?', :method=>:delete %>
			</td>
		</tr>
	<% end %>
</table>
		
				