<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore&v1' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "jquery.js" %>
  <%= csrf_meta_tag %>
  
<%= yield(:home) -%>

  <title>CarrieMail</title>

</head>
<body>
	<div id="main">
		<div id="header">
			<%= render 'devise/menu/header_items' %>
		</div><!--#header-->
		<div class="clr"></div>
		<div id="container">
			<p style="color: green"><%= notice %></p>
			<p style="color: red"><%= alert %></p>

			<%= yield %>
			
			<div class="clr"></div>
			<div class="l" id="footer">
				<%= render 'devise/menu/footer_items' %>
			</div>
		</div><!--#container-->
	</div><!--#main-->
</body>
</html>
